<ng-container *ngIf="auth.user | async as user; else showSignIn">
  <p>Hello {{user.displayName}}.</p>
  <p>Your user ID is {{user.uid}} and your email address is {{user.email}}.</p>
  <button (click)="signOut()"> SIGN OUT </button>
  <p>Here is a list of user profiles:</p>
<ul>
  <li *ngFor="let profile of profiles | async">
    {{profile.displayName}}
  </li>
</ul>
</ng-container>
<ng-template #showSignIn>
  <p>Please sign in to continue.</p>
  <button (click)="signIn()"> SIGN IN </button>
</ng-template>
